openapi: 3.0.1
info:
  title: Cleartrip B2B V4 APIs
  version: 0.0.1

servers:
  - url: https://api.cleartrip.com
  - url: https://b2b.cleartrip.com

tags:
  - name: Content APIs
    description: |
      Content APIs are designed to fetch hotel and room content data. These APIs are intended for periodic content updates and should not be used within the user flow.

      **Purpose:**  
      - Fetch and refresh static hotel and room content data.

      **Usage Recommendation:**  
      - **Frequency:** Refresh content weekly.  
      - **Timing:** Perform updates during off-peak hours (1 AM to 8 AM IST).

      **Note:**  
      - Adhering to the recommended usage ensures minimal impact on system performance and user experience.

  - name: Search APIs

  - name: Details API
    description: This api provides detailed ratePlan info for a hotel.

  - name: Provisional Book API
    description: |
      The **Provisional Booking API** allows clients to temporarily hold a hotel booking for **15 minutes** before making the final booking.

      If the final booking attempt is made **after the 15-minute window**, it will **fail**.

      This API ensures that rooms are reserved for a short period, giving users time to complete their payment or verification steps.

  - name: Book V4 API
    description: |
      **Purpose**: Finalize a hotel booking using the provisional booking ID received from a successful provisional booking.

      - Provisional booking is valid for **15 minutes**.
      - If used after expiry, the API returns an **invalid provisional booking ID** error.

      Only call this after successful provisional hold.

  - name: Trip API
    description: |
      The **Get Trip API** allows clients to retrieve detailed trip information by querying either a **Cleartrip Trip ID (tripId)** or a **Client Trip ID (affiliateTripReference)**.

      **Identification Parameters**:
      
      - **Cleartrip Trip ID (tripId)**: This ID is provided by Cleartrip in the response of the booking API. It is used to query and retrieve detailed information about the trip.
      
      - **Client Trip ID (affiliateTripReference)**: This ID is generated by the client and included in the request to the booking API. It serves as an alternative to the **Cleartrip Trip ID** for retrieving trip details.
      
      By using either of these parameters, clients can seamlessly access the required trip details.
      
  - name: Cancel and RefundInfo APIs
    description: |
      **Purpose**: Manage post-booking actions for trips.

      This set of APIs allows clients to perform operations after a booking is confirmed, 
      such as cancelling a trip or retrieving refund information for a confirmed trip.

paths:
  $ref: './paths/index.yaml'

components:
  schemas:
    $ref: './components/schemas/index.yaml'
